.sidebar {
  width: 15%;
  height: calc(100vh - 60px);
  overflow-y: auto;
  position: sticky;
  top: 50px;
  background-color: #f4f7fb;
  color: #4a4a4a;
  box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #d1d1d1;
}

.sidebarWrapper {
  padding: 15px;
}

.sidebarList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebarListItem {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  color: #4a4a4a;
  transition: background-color 0.3s, box-shadow 0.3s ease-in-out, transform 0.3s;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.sidebarListItem:hover {
  background-color: #f0f0f0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.sidebarListItemText {
  color: #4a4a4a;
  font-weight: bold;
  font-size: 15px;
}

.sidebarIcon {
  margin-right: 20px;
  color: #7d7d7d;
  font-size: 20px;
}

.sidebarIcon:hover {
  color: #eb5757;
}

.sidebarListItem.active {
  background-color: #8fbbd8;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
